<template>
  <div
    class="lg:w-[384px] w-full rounded-lg shadow-[0_4px_8px_0_rgba(0,0,0,0.04)]"
  >
    <div class="">
      <NuxtImg class="w-full h-full" src="/assets/img/galeri-3.png" />
    </div>
    <div class="p-3">
      <h2 class="font-bold text-2xl"><slot></slot></h2>
    </div>
  </div>
</template>
