<template>
  <section class="my-24 space-y-11">
    <div class="flex flex-col lg:flex-row gap-6">
      <PaketCampImage>Paket Standar</PaketCampImage>
      <div
        class="px-5 py-4 flex-grow rounded-[10px] shadow-[0_4px_8px_0_rgba(0,0,0,0.04)]"
      >
        <PaketCampName total-visitor="1 - 2 Orang" available-camp="8"
          >1 Kavling Camp Ground dengan berbagai fasilitas umum</PaketCampName
        >
        <div class="bottom-card flex justify-between flex-wrap">
          <ul class="space-y-3">
            <li class="flex items-center gap-[10px] font-medium text-green-800">
              <NuxtIcon class="text-2xl" name="icon-beach" />
              Tenda
            </li>
            <li class="flex items-center gap-[10px] font-medium text-green-800">
              <NuxtIcon class="text-2xl" name="icon-beach" />
              Api Unggun
            </li>
          </ul>
          <ul class="space-y-3">
            <li class="flex items-center gap-[10px] font-medium text-black-200">
              <NuxtIcon class="text-2xl" name="icon-beach" />
              Tidak Bisa Refund
            </li>
            <li class="flex items-center gap-[10px] font-medium text-black-200">
              <NuxtIcon class="text-2xl" name="icon-beach" />
              Tidak Bisa Reschedule
            </li>
            <li class="flex items-center gap-[10px] font-medium text-green-800">
              <NuxtIcon class="text-2xl" name="icon-beach" />
              Baca Kebijakan Pembatalan
            </li>
          </ul>
          <PaketCampPrice></PaketCampPrice>
        </div>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row gap-6">
      <PaketCampImage>Paket Deluxe</PaketCampImage>
      <div
        class="px-5 py-4 flex-grow rounded-[10px] shadow-[0_4px_8px_0_rgba(0,0,0,0.04)]"
      >
        <PaketCampName
          total-visitor="6 - 12 Orang"
          available-camp="1"
          style-text-available="text-danger-300"
          >1 Kavling Camp Ground dengan berbagai fasilitas
          lengkap</PaketCampName
        >
        <div class="bottom-card flex justify-between flex-wrap">
          <ul class="space-y-3">
            <li class="flex items-center gap-[10px] font-medium text-green-800">
              <NuxtIcon class="text-2xl" name="icon-beach" />
              Tenda
            </li>
            <li class="flex items-center gap-[10px] font-medium text-green-800">
              <NuxtIcon class="text-2xl" name="icon-beach" />
              Api Unggun
            </li>
            <li class="flex items-center gap-[10px] font-medium text-green-800">
              <NuxtIcon class="text-2xl" name="icon-beach" />
              Kasur & Bantal
            </li>
            <li class="flex items-center gap-[10px] font-medium text-green-800">
              <NuxtIcon class="text-2xl" name="icon-beach" />
              Alat BBQ
            </li>
            <li class="flex items-center gap-[10px] font-medium text-green-800">
              <NuxtIcon class="text-2xl" name="icon-beach" />
              Kursi Meja
            </li>
          </ul>
          <ul class="space-y-3">
            <li class="flex items-center gap-[10px] font-medium text-black-200">
              <NuxtIcon class="text-2xl" name="icon-beach" />
              Tidak Bisa Refund
            </li>
            <li class="flex items-center gap-[10px] font-medium text-black-200">
              <NuxtIcon class="text-2xl" name="icon-beach" />
              Tidak Bisa Reschedule
            </li>
            <li class="flex items-center gap-[10px] font-medium text-green-800">
              <NuxtIcon class="text-2xl" name="icon-beach" />
              Baca Kebijakan Pembatalan
            </li>
          </ul>
          <PaketCampPrice
            discount="12.000.000"
            price="9.500.000"
          ></PaketCampPrice>
        </div>
      </div>
    </div>
  </section>
</template>
