<template>
  <div class="pb-3 mb-3 border-b border-black-50">
    <h3 class="text-[22px] font-medium mb-3"><slot></slot></h3>
    <div class="flex justify-between">
      <div class="flex gap-2 items-center text-black-600">
        <NuxtIcon class="text-2xl pt-1" name="icon-tenda" />
        <p class="text-lg font-medium">{{ props.totalVisitor }}</p>
      </div>
      <div>
        <p class="text-sm" :class="props.styleTextAvailable">
          Tersisa <span>{{ props.availableCamp }} Kaving lagi</span>
        </p>
      </div>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  totalVisitor: {
    default: '1-2 Orang',
    type: String
  },
  availableCamp: {
    default: '1',
    type: String
  },
  styleTextAvailable: {
    default: 'text-green-800',
    type: String
  }
})
</script>
