<template>
  <div
    class="space-y-4 flex sm:flex-col justify-between flex-grow sm:flex-grow-0 sm:items-end mt-4 lg:mt-0"
  >
    <div class="space-y-1 text-right">
      <p class="text-black-500">per kavling, per malam</p>
      <p class="text-danger-300 line-through">IDR {{ props.discount }}</p>
      <div class="hidden sm:block">
        <span class="mr-1">IDR</span>
        <span class="text-[22px] font-bold text-green-800">{{
          props.price
        }}</span>
      </div>
    </div>
    <div class="!mt-0 space-y-2 flex flex-col items-end">
      <div class="sm:hidden">
        <span class="mr-1">IDR</span>
        <span class="text-[22px] font-bold text-green-800">{{
          props.price
        }}</span>
      </div>
      <Button>Pesan</Button>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  discount: {
    default: '4.000.000',
    type: String
  },
  price: {
    default: '2.500.000',
    type: String
  }
})
</script>
