<template>
  <nav>
    <ul class="text-sm text-black-400 flex gap-1">
      <li class="flex gap-1 py-[10px] items-center">
        Camping Ground <NuxtIcon name="icon-arrow-right" />
      </li>
      <li class="flex gap-1 py-[10px] items-center">
        Yogyakarta <NuxtIcon name="icon-arrow-right" />
      </li>
      <li class="py-[10px] text-black-950">Brotherhood Camp</li>
    </ul>
  </nav>
</template>
