<template>
  <section
    class="px-[10px] py-3 space-y-5 rounded-lg shadow-[0_4px_8px_0_rgba(0,0,0,0.04)]"
  >
    <div><h2 class="font-bold text-2xl">Tentang Destinasi</h2></div>
    <div class="flex flex-wrap gap-6">
      <Tag>Toilet</Tag>
      <Tag>WIFI</Tag>
      <Tag>Tempat Parkir</Tag>
      <Tag>Musholla</Tag>
      <Tag>Area Bermasak</Tag>
      <Tag>Area Bermain</Tag>
    </div>
  </section>
</template>
