<template>
  <footer class="mt-20">
    <div class="px-[6%] py-6">
      <div class="flex justify-between flex-wrap md:gap-5 gap-4">
        <div>
          <div class="block pb-6" to="/">
            <NuxtImg
              class="w-[182.4px] h-6"
              src="/assets/img/logo-kemahaja.png"
              width="182.4"
              height="24"
              quality="100"
            ></NuxtImg>
          </div>
          <div>
            <p class="pb-2 text-sm text-black-500">
              Ikuti kami di Sosial Media:
            </p>
            <ul class="flex items-center gap-3 text-4xl text-green-900">
              <li>
                <NuxtLink to="https://www.instagram.com"
                  ><NuxtIcon name="icon-instagram"></NuxtIcon
                ></NuxtLink>
              </li>
              <li>
                <NuxtLink to="https://www.youtube.com"
                  ><NuxtIcon name="icon-youtube"></NuxtIcon
                ></NuxtLink>
              </li>
              <li>
                <NuxtLink to="https://www.facebook.com"
                  ><NuxtIcon name="icon-facebook"></NuxtIcon
                ></NuxtLink>
              </li>
              <li>
                <NuxtLink to="https://www.tiktok.com"
                  ><NuxtIcon name="icon-tiktok"></NuxtIcon
                ></NuxtLink>
              </li>
            </ul>
          </div>
        </div>
        <div class="max-w-[262px]">
          <ul class="text-black-700 leading-6 space-y-2">
            <li>Jl. Pejaten Barat II No. 3A Jakarta, Indonesia 12510</li>
            <li>+62 822-4692-6620</li>
            <li>Kemahaja@gmail.com</li>
          </ul>
        </div>
        <div class="md:max-w-[354px]">
          <form class="mb-5" action="#">
            <div>
              <label class="block mb-3 text-black-500" for="email"
                >Dapatkan update berita terbaru</label
              >
              <div class="relative">
                <input
                  id="email"
                  class="py-[10px] px-3 w-[240px] sm:w-[354px] border border-black-500 rounded-lg"
                  type="email"
                  name="email"
                  placeholder="Masukkan alamat E-mail"
                />
                <button
                  class="absolute z-[1] right-0 top-0 bg-green-900 px-6 h-full text-white font-bold rounded-r-lg border border-green-900"
                >
                  Kirim
                </button>
              </div>
            </div>
          </form>
          <p class="text-sm text-black-800">Copyright © KemahAja 2023</p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script setup></script>

<style lang="scss" scoped></style>
