<template>
  <div
    class="grid sm:grid-cols-4 grid-cols-2 sm:grid-rows-2 grid-rows-4 gap-[10px]"
  >
    <div class="col-span-2 row-span-2">
      <NuxtImg class="w-full h-full" src="/assets/img/galeri-1.png" />
    </div>
    <div>
      <NuxtImg class="w-full h-full" src="/assets/img/galeri-2.png" />
    </div>
    <div>
      <NuxtImg class="w-full h-full" src="/assets/img/galeri-3.png" />
    </div>
    <div>
      <NuxtImg class="w-full h-full" src="/assets/img/galeri-4.png" />
    </div>
    <div class="relative">
      <div
        class="absolute bottom-[10px] right-[8.75px] px-[10px] pb-[6px] pt-2 bg-black-800/80 flex items-center gap-3 rounded"
      >
        <NuxtIcon class="text-white text-xl" name="icon-galeri" />
        <p class="text-white text-sm">120 Photo</p>
      </div>
      <NuxtImg class="w-full h-full" src="/assets/img/galeri-5.png" />
    </div>
  </div>
</template>
