<template>
  <header class="shadow-[0_4px_8px_0_rgba(0,0,0,0.04)] hidden lg:block">
    <div class="px-[6%]">
      <div class="flex justify-between items-center py-4">
        <div>
          <NuxtLink class="block w-[182.4px] h-6" to="/">
            <NuxtImg
              class="w-full h-full"
              src="/assets/img/logo-kemahaja.png"
              width="182.4"
              height="24"
              quality="100"
            ></NuxtImg>
          </NuxtLink>
        </div>
        <nav>
          <ul class="flex">
            <li class="p-[10px] text-black-800">Tempat Camping</li>
            <li class="p-[10px] text-black-500">Aktifitas</li>
            <li class="p-[10px] text-black-500">Artikel</li>
          </ul>
        </nav>
        <div class="flex items-center gap-4">
          <div class="flex gap-2 text-green-900">
            <NuxtIcon class="text-2xl" name="icon-handshake"></NuxtIcon>
            <p class="font-medium">Jadi Mitra KEMAHAJA</p>
          </div>
          <div class="flex items-center gap-1">
            <NuxtImg class="h-5" src="/assets/img/icon-indonesia.svg"></NuxtImg>
            <select id="language" name="language">
              <option value="id">ID</option>
              <option value="en">EN</option>
            </select>
          </div>
          <div class="flex gap-2 items-center">
            <div class="h-9 w-9">
              <NuxtImg
                class="w-full h-full"
                src="/assets/img/foto-profile.png"
              ></NuxtImg>
            </div>
            <span class="flex gap-1 items-center"
              >Prayuda Riansyah
              <NuxtIcon class="text-xl" name="icon-arrow-down"></NuxtIcon
            ></span>
          </div>
        </div>
      </div>
      <TabMenu />
    </div>
  </header>
</template>

<script setup></script>

<style lang="scss" scoped></style>
