<template>
  <section
    class="p-[10px] space-y-5 rounded-lg shadow-[0_4px_8px_0_rgba(0,0,0,0.04)]"
  >
    <div><h2 class="font-bold text-2xl">Informasi Lokasi</h2></div>
    <div class="flex gap-8 flex-col lg:flex-row">
      <div class="w-full lg:max-w-[470px] rounded-[10px] overflow-hidden">
        <div>
          <iframe
            title="Maps"
            width="100%"
            height="305"
            src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Jl.%20Ambarbinangun%20No.5C,%20Kabupaten%20Bantul,%20Daerah%20Istimewa%20%20%20%20%20%20%20%20%20%20%20%20%20Yogyakarta,%20Indonesia%2055184+(KemahAJA)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
            ><a href="https://www.gps.ie/">gps devices</a></iframe
          >
        </div>
      </div>
      <article class="flex flex-col justify-center space-y-4">
        <div class="flex items-center gap-[10px]">
          <NuxtIcon class="text-3xl" name="icon-maps-two" />
          <p class="text-lg">
            Jl. Ambarbinangun No.5C, Kabupaten Bantul, Daerah Istimewa
            Yogyakarta, Indonesia 55184
          </p>
        </div>
        <p class="text-black-600 leading-7">
          Setelah memarkir kendaraan anda akan berjalan kaki sejauh 1km dari
          tempat parkir ke Camping Ground. Selama perjalanan akan ada seseorang
          yang berjaga di area trek destinasi.
        </p>
        <div class="space-y-[10px]">
          <p class="font-medium">Akses Masuk Kendaraan</p>
          <div class="flex flex-wrap gap-2">
            <Tag icon="icon-mobil">Sepeda Motor</Tag>
            <Tag icon="icon-mobil">Mobil Pribadi</Tag>
            <Tag icon="icon-mobil">Minibus</Tag>
            <Tag icon="icon-mobil">Bus</Tag>
          </div>
        </div>
        <div class="flex items-center gap-3">
          <p>Memiliki pertanyaan lebih lanjut?</p>
          <NuxtLink class="flex items-center font-medium gap-1 text-green-800">
            <NuxtIcon class="text-2xl" name="icon-message" />
            Chat Owner Sekarang!
          </NuxtLink>
        </div>
      </article>
    </div>
  </section>
</template>
