<template>
  <section class="flex justify-between flex-wrap">
    <div class="space-y-[6px]">
      <div class="space-y-4">
        <h1 class="text-[40px] font-bold">Brotherhood Camp</h1>
        <div class="flex gap-3">
          <span
            class="flex gap-2 items-center text-green-800 bg-green-50 px-[10px] py-[6px] rounded-[4px]"
          >
            <NuxtIcon name="icon-beach" />
            <p class="text-sm">Pantai</p>
          </span>
          <div class="flex items-center space-x-[2px]">
            <Rating />
            <p>(180 Ulasan)</p>
          </div>
        </div>
      </div>
      <div class="flex items-center text-black-500 space-x-1">
        <NuxtIcon class="text-2xl" name="icon-maps-two" />
        <p>
          Jl. Ambarbinangun No.5C, Kabupaten Bantul, Daerah Istimewa Yogyakarta,
          Indonesia 55184
        </p>
      </div>
    </div>
    <div class="space-y-4 flex-grow flex flex-col items-end mt-4 lg:mt-0">
      <div class="space-y-1 text-right">
        <p class="text-black-500">per kavling, per malam</p>
        <div>
          <span class="mr-1">IDR</span>
          <span class="text-[26px] font-bold text-green-800">9.500.000</span>
        </div>
      </div>
      <Button>Pilih Camping Ground</Button>
    </div>
  </section>
</template>

<script setup></script>

<style lang="scss" scoped></style>
