<template>
  <div>
    <ul class="flex">
      <li><NuxtIcon class="text-warning-300" name="icon-star" /></li>
      <li><NuxtIcon class="text-warning-300" name="icon-star" /></li>
      <li><NuxtIcon class="text-warning-300" name="icon-star" /></li>
      <li><NuxtIcon class="text-warning-300" name="icon-star" /></li>
      <li><NuxtIcon class="text-warning-100" name="icon-star" /></li>
    </ul>
  </div>
</template>
