<template>
  <div class="py-3 px-6 shadow-[0_4px_8px_0_rgba(0,0,0,0.04)] rounded-[10px]">
    <form class="flex items-center justify-between flex-wrap" action="#">
      <div class="py-3 space-y-6">
        <label class="text-black-500" for="tujuan">Tujuan</label>
        <div class="flex items-center gap-2">
          <NuxtIcon class="text-2xl text-green-800" name="icon-map" />
          <select id="tujuan" class="text-lg font-medium" name="tujuan">
            <option value="Yogyakarta">Yogyakarta</option>
            <option value="Yogyakarta">Jakarta</option>
          </select>
        </div>
      </div>
      <div class="py-3 space-y-6">
        <label class="text-black-500" for="check-in">Tanggal Check-in</label>
        <div class="flex items-center gap-2">
          <NuxtIcon class="text-2xl text-green-800" name="icon-calendar" />
          <input
            id="check-in"
            class="text-lg font-medium"
            type="date"
            name="check-in"
          />
        </div>
      </div>
      <div class="py-3 space-y-6">
        <label class="text-black-500" for="check-out">Tanggal Check-out</label>
        <div class="flex items-center gap-2">
          <NuxtIcon class="text-2xl text-green-800" name="icon-calendar" />
          <input
            id="check-out"
            class="text-lg font-medium"
            type="date"
            name="check-out"
          />
        </div>
      </div>
      <div class="py-3 space-y-6">
        <label class="text-black-500" for="pengunjung">Pengunjung</label>
        <div class="flex items-center gap-2">
          <NuxtIcon class="text-2xl text-green-800" name="icon-map" />
          <select id="pengunjung" class="text-lg font-medium" name="pengunjung">
            <option value="dewasa">2 Dewasa, 1 anak</option>
            <option value="dewasaa">2 Dewasa</option>
          </select>
        </div>
      </div>
      <div class="flex-grow lg:flex-grow-0 flex justify-center">
        <Button>Cari Sekarang</Button>
      </div>
    </form>
  </div>
</template>

<style lang="scss">
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  /* @apply bg-transparent text-transparent cursor-pointer */
  display: none;
  -webkit-appearance: none;
}
</style>
