<template>
  <nav>
    <ul class="flex">
      <li>
        <NuxtLink
          class="inline-block px-[10px] py-[10px] font-medium text-sm text-green-800 border-b border-green-800"
          to="/"
          >Info Umum</NuxtLink
        >
      </li>
      <li>
        <NuxtLink
          class="inline-block px-[10px] py-[10px] font-medium text-sm text-black-500 border-b border-transparent"
          to="/"
          >Fasilitas</NuxtLink
        >
      </li>
      <li>
        <NuxtLink
          class="inline-block px-[10px] py-[10px] font-medium text-sm text-black-500 border-b border-transparent"
          to="/"
          >Lokasi</NuxtLink
        >
      </li>
      <li>
        <NuxtLink
          class="inline-block px-[10px] py-[10px] font-medium text-sm text-black-500 border-b border-transparent"
          to="/"
          >Camp Ground</NuxtLink
        >
      </li>
      <li>
        <NuxtLink
          class="inline-block px-[10px] py-[10px] font-medium text-sm text-black-500 border-b border-transparent"
          to="/"
          >Review</NuxtLink
        >
      </li>
    </ul>
  </nav>
</template>

<script setup></script>

<style lang="scss" scoped></style>
