<template>
  <div
    class="flex gap-3 items-center text-green-800 bg-green-50 px-[10px] py-2 rounded-[4px]"
  >
    <NuxtIcon class="text-2xl" :name="props.icon" />
    <p class="font-medium">
      <slot></slot>
    </p>
  </div>
</template>

<script setup>
const props = defineProps({
  icon: {
    default: 'icon-beach',
    type: String
  }
})
</script>
