<template>
  <section
    class="px-[10px] py-3 space-y-5 w-full lg:max-w-[426px] rounded-lg shadow-[0_4px_8px_0_rgba(0,0,0,0.04)]"
  >
    <div class="flex justify-between">
      <h2 class="font-bold text-2xl">Tentang Destinasi</h2>
      <NuxtLink
        class="flex gap-1 items-center pr-2 text-green-800 font-bold"
        to="/"
      >
        Selengkapnya <NuxtIcon class="pt-1" name="icon-arrow-right" />
      </NuxtLink>
    </div>
    <div>
      <p class="text-black-700 leading-7">
        Saksikan matahari terbit dan terbenam di balik pegunungan, melihat
        hamparan bunga edelweis yang menakjubkan, dan mendengarkan alunan riak
        air yang jernih dari sungai yang mengalir hanya 30 menit dari
      </p>
    </div>
  </section>
</template>
