import type { NuxtIcon } from '#build/components';
<template>
  <div class="flex items-center gap-[10px]">
    <span class="flex items-center gap-1">
      <NuxtIcon class="text-warning-300 text-2xl" name="icon-star" />
      <slot />
    </span>
    <div class="h-3 w-[364px] rounded-full bg-black-200">
      <div
        class="h-3 bg-green-800 rounded-full"
        :class="`w-[${props.percentage}%]`"
      ></div>
    </div>
    <p>{{ props.totalReview }}</p>
  </div>
</template>

<script setup>
const props = defineProps({
  percentage: {
    default: '80',
    type: String
  },
  totalReview: {
    default: '800',
    type: String
  }
})
</script>
