import type { imgProps } from '@nuxt/image/dist/runtime/components/nuxt-img';
<template>
  <div class="px-6 py-5 shadow-[0_4px_8px_0_rgba(0,0,0,0.04)] rounded-[10px]">
    <p class="mb-[10px] text-sm text-black-600">Kemarin (24 Agustus 2023)</p>
    <div class="space-y-4">
      <div class="space-y-[10px]">
        <div class="flex items-center gap-2">
          <div class="w-12 h-12 bg-black-200 rounded-full"></div>
          <p class="font-medium">Yuda</p>
        </div>
        <div class="flex items-center gap-5 text-sm flex-wrap">
          <div class="flex items-center gap-2">
            <p class="font-medium">Rating :</p>
            <Rating />
          </div>
          <div class="flex items-center gap-2">
            <p class="font-medium">Camper :</p>
            <p class="text-green-800">Family Camper</p>
          </div>
          <div class="flex items-center gap-2">
            <p class="font-medium">Paket :</p>
            <p class="text-green-800">Deluxe</p>
          </div>
        </div>
      </div>
      <p>
        Tempatnya sangat indah dan damai. Berkemah di sini sangat menyenangkan,
        dengan pemandangan alam yang spektakuler dan suasana yang tenang.
      </p>
      <div class="flex flex-row flex-wrap gap-3">
        <div
          v-for="photo in props.photos"
          :key="photo"
          class="w-[96px] h-[84px]"
        >
          <img class="w-full h-full" src="/assets/img/galeri-4.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  photos: {
    default: () => [],
    type: Array
  }
})
</script>
