import type { UlasanPengunjungCardUlasan } from '#build/components'; import type
CardUlasanVue from './CardUlasan.vue';
<template>
  <section class="flex flex-col md:flex-row gap-6">
    <div>
      <UlasanPengunjungRating></UlasanPengunjungRating>
      <div
        class="px-4 py-5 shadow-[0_4px_8px_0_rgba(0,0,0,0.04)] rounded-[10px] mb-4"
      >
        <UlasanPengunjungSortBy />
      </div>
      <div
        class="px-4 py-5 shadow-[0_4px_8px_0_rgba(0,0,0,0.04)] rounded-[10px]"
      >
        <div class="space-y-[10px] pb-4 border-b border-black-200">
          <div class="flex items-center justify-between">
            <h4 class="text-[22px]">Filter Hasil Pencarian</h4>
            <p class="font-bold">Reset</p>
          </div>
          <p class="text-black-200">
            Menampilkan hasil pencarian berdasarkan kategori
          </p>
        </div>
        <UlasanPengunjungCamper class="py-4 border-b border-black-200" />
        <UlasanPengunjungMedia class="py-4 border-b border-black-200" />
        <UlasanPengunjungPaket class="py-4" />
      </div>
    </div>
    <div>
      <div class="space-y-4">
        <UlasanPengunjungCardUlasan />
        <UlasanPengunjungCardUlasan :photos="[1, 2, 3, 4, 5]" />
        <UlasanPengunjungCardUlasan />
        <UlasanPengunjungCardUlasan :photos="[1, 2, 3]" />
        <UlasanPengunjungCardUlasan />
      </div>
      <UlasanPengunjungPagination />
    </div>
  </section>
</template>
