<template>
  <div class="space-y-3">
    <div
      class="flex justify-between items-center cursor-pointer"
      @click="handleClick"
    >
      <h4 class="text-[22px]">Media</h4>
      <NuxtIcon v-if="isOpen" class="text-2xl" name="icon-arrow-up" />
      <NuxtIcon v-else class="text-2xl" name="icon-arrow-down" />
    </div>
    <form class="space-y-4" :class="isOpen ? 'block' : 'hidden'" action="#">
      <div>
        <input id="media" type="radio" name="media" />
        <label class="font-medium text-black-200 ml-3" for="media"
          >Review Dengan Foto</label
        >
      </div>
    </form>
  </div>
</template>

<script setup>
const isOpen = ref(true)
const handleClick = () => (isOpen.value = !isOpen.value)
</script>

<style lang="scss">
/* Ganti warna tombol radio saat dicentang */
input[type='radio']:checked + label {
  color: #252525; /* Warna teks label saat tombol radio dicentang */
}
</style>
