<template>
  <div class="mt-8 grid place-content-center">
    <ul class="font-medium flex text-green-800">
      <li
        class="w-[3rem] h-9 bg-green-800 grid place-content-center text-white rounded-md"
      >
        1
      </li>
      <li class="w-[3rem] h-9 grid place-content-center rounded-md">2</li>
      <li class="w-[3rem] h-9 grid place-content-center rounded-md">3</li>
      <li class="w-[3rem] h-9 grid place-content-center rounded-md">4</li>
      <li class="w-[3rem] h-9 grid place-content-center rounded-md">......</li>
      <li class="w-[3rem] h-9 grid place-content-center rounded-md">24</li>
    </ul>
  </div>
</template>
