<template>
  <div class="flex flex-col items-center space-y-8">
    <h2 class="text-[26px] font-bold">Ulasan Pengunjung</h2>
    <div class="space-y-5">
      <div class="flex items-end">
        <div class="flex items-center gap-2">
          <NuxtIcon class="text-[84px] text-warning-300" name="icon-star" />
          <h3 class="text-[4rem] font-bold">4.7</h3>
        </div>
        <span class="block text-[22px] font-medium text-black-500 pb-4">
          /5.0</span
        >
      </div>
      <p class="font-medium text-lg text-green-800">
        Rating Berdasar 1200 Pengunjung
      </p>
    </div>
    <div>
      <div class="flex items-center gap-[10px]">
        <span class="flex items-center gap-1">
          <NuxtIcon class="text-warning-300 text-2xl" name="icon-star" />
          5
        </span>
        <div class="h-3 w-[200px] sm:w-[290px] rounded-full bg-black-200">
          <div class="h-3 bg-green-800 rounded-full w-[90%]"></div>
        </div>
        <p>800</p>
      </div>
      <div class="flex items-center gap-[10px]">
        <span class="flex items-center gap-1">
          <NuxtIcon class="text-warning-300 text-2xl" name="icon-star" />
          4
        </span>
        <div class="h-3 w-[200px] sm:w-[290px] rounded-full bg-black-200">
          <div class="h-3 bg-green-800 rounded-full w-[30%]"></div>
        </div>
        <p>200</p>
      </div>
      <div class="flex items-center gap-[10px]">
        <span class="flex items-center gap-1">
          <NuxtIcon class="text-warning-300 text-2xl" name="icon-star" />
          3
        </span>
        <div class="h-3 w-[200px] sm:w-[290px] rounded-full bg-black-200">
          <div class="h-3 bg-green-800 rounded-full w-[15%]"></div>
        </div>
        <p>100</p>
      </div>
      <div class="flex items-center gap-[10px]">
        <span class="flex items-center gap-1">
          <NuxtIcon class="text-warning-300 text-2xl" name="icon-star" />
          2
        </span>
        <div class="h-3 w-[200px] sm:w-[290px] rounded-full bg-black-200">
          <div class="h-3 bg-green-800 rounded-full w-[8%]"></div>
        </div>
        <p>99</p>
      </div>
      <div class="flex items-center gap-[10px]">
        <span class="flex items-center gap-1">
          <NuxtIcon class="text-warning-300 text-2xl" name="icon-star" />
          1
        </span>
        <div class="h-3 w-[200px] sm:w-[290px] rounded-full bg-black-200">
          <div class="h-3 bg-green-800 rounded-full w-[5%]"></div>
        </div>
        <div class="text-right">
          <p>1</p>
        </div>
      </div>
    </div>
  </div>
</template>
