<template>
  <div class="space-y-6">
    <div
      class="flex justify-between items-center cursor-pointer"
      @click="handleClick"
    >
      <h4 class="text-[22px]">Urutkan Hasil Pencarian</h4>
      <NuxtIcon v-if="isOpen" class="text-2xl" name="icon-arrow-up" />
      <NuxtIcon v-else class="text-2xl" name="icon-arrow-down" />
    </div>
    <form class="space-y-4" :class="isOpen ? 'block' : 'hidden'" action="#">
      <div>
        <input id="terbaru" type="radio" name="sortBy" />
        <label class="font-medium text-black-200 ml-3" for="terbaru"
          >Terbaru</label
        >
      </div>
      <div>
        <input id="banyakDisukai" type="radio" name="sortBy" />
        <label class="font-medium text-black-200 ml-3" for="banyakDisukai"
          >Paling Banyak Disukai</label
        >
      </div>
      <div>
        <input id="ratingTertinggi" type="radio" name="sortBy" />
        <label class="font-medium text-black-200 ml-3" for="ratingTertinggi"
          >Rating Tertinggi</label
        >
      </div>
      <div>
        <input id="ratingTerendah" type="radio" name="sortBy" />
        <label class="font-medium text-black-200 ml-3" for="ratingTerendah"
          >Rating Terendah</label
        >
      </div>
    </form>
  </div>
</template>

<script setup>
const isOpen = ref(true)
const handleClick = () => (isOpen.value = !isOpen.value)
</script>

<style lang="scss">
/* Ganti warna tombol radio saat dicentang */
input[type='radio']:checked + label {
  color: #252525; /* Warna teks label saat tombol radio dicentang */
}
</style>
