<template>
  <main class="px-[6%] py-3">
    <BreadcrumbNav />
    <SearchFilter />
    <ProfileCamp class="mt-8 mb-10" />
    <Galery />
    <div class="flex flex-col lg:flex-row gap-[30px] my-[30px]">
      <TentangDestinasi />
      <FasilitasUtama />
    </div>
    <InformasiLokasi />
    <PaketCamp />
    <UlasanPengunjung />
  </main>
</template>

<script setup></script>
